<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Carpeta donde esta el Log .txt-->
		<add key="RutaLog" value="C:\interfaces\Entregas a Rendir\Release"/>
		<!--URL Base del servidor al que se realizan las peticiones-->
		<add key="uriBase" value="https://psamperu.helmconnect.com/" />
		<!--Api Keys de Helm-->
		<add key="apiKey" value="Okyw8JuN6xGCU8MZ4CAINm9ZZW91b1JJY29oOWFRT21OdHBh" />
		<add key="apiKeyUsuarios" value="Okyw8JuN6xGCU8MZ4CAINm9ZZW91b1JJY29oOWFRT21OdHBh" />
		<!-- 		<add key="uriBase" value="https://psamperu-sb.sandbox.helmconnect.com/" />		
		<add key="apiKey" value="NqEzPw3O6hGBNApG7MRFglJlZUg2RlNpVTJPVGI2ZjhKNTRZ" />
		<add key="apiKeyUsuarios" value="NqEzPw3O6hGBNApG7MRFglJlZUg2RlNpVTJPVGI2ZjhKNTRZ" /> -->
		<!--Id Reporte-->
		<!--<add key="ReporteEntregaRendirConfigID" value="bae308ba-245a-11eb-8134-0a46ecc44582" />
		<add key="ReporteEntregaRendirMasivoConfigID" value="508d44d6-245d-11eb-8134-0a46ecc44582" />-->
		<add key="ReporteEntregaRendirConfigID" value="0272c1d9-e6b9-11e9-8250-b95c32a02f38" />
		<add key="ReporteEntregaRendirMasivoConfigID" value="1c8adcd1-b561-11ea-8251-d847bcbe143f" />
		<!--Zona Horaria del Reporte Creado-->
		<add key="TimeZone" value="America%2FLima" />
		<add key="mediaType" value="application/json" />
		
		<!--Configuracion de fecha de migracion-->
		<add key="UtilizarFechaMigracion" value="false" />
		<add key="FechaMigracion" value="10/10/2020" />
		
		<!--EnvioCorreo = True - Envia Correo de Inconsistencias-->
		<add key="envioCorreo" value="true" />
		<!--Correo|password|nombre de oficina-->
		<add key="CorreoErrorEnvio" value="alertasti@psamperu.com|PsamPeru2020$|Informacion PSA Marine"/>
		<!--correo,correo,...-->
		<add key="CorreoErrorPara" value="jmillones@psamperu.com"/>
		<!--correo,correo,...-->
		<add key="CorreoErrorCC" value="jmillones@psamperu.com,pmontalvan@psamperu.com" />
		<!--correo,correo,...-->
		<add key="CorreoErrorCO" value="" />
	</appSettings>

	<connectionStrings>
		<!--<add name="InterfaceDB"
			 connectionString="Data Source=DESKTOP-1HPJQSK\SQLEXPRESS;Database=InterfaceDB;Trusted_Connection=True;" />-->
		<add name="TRAMARSA"
			 connectionString="Data Source=.\SQLEXPRESS;Database=TRAMARSA;user id=sa;password=123;MultipleActiveResultSets=True;" />
	</connectionStrings>
</configuration>